.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.container ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container h1 h2 h3 h4 h5 h6 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Courier New', Courier, monospace;
}
.title {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-family: 'Courier New', Courier, monospace;
    color: #28a745;
}
.slogan {
    font-size: 1.17em;
    margin: 1.17em 0;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}
body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f8f5ec;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 25px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .content {
    backdrop-filter: blur(5px);
    padding: 16px;
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
  }
  .content h2 {
    color: beige;
    font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Courier New', Courier, monospace;
  }